
header{
    background-image: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}

.myCanvas{
    border-radius: 8px;
    border: 1px solid black;
}

.card{
    margin: 15px auto;
    max-width: 800px;
    width: 100%;
}


