
body {
    background-image: url("../beach.jpg");
    background-color: #cccccc;
    /* background-attachment: fixed;
    background-color: red; */
    /* background-image: linear-gradient( #ff7b00,#007bff); */
}

header{
    background-color:#ffffff44;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}

.myCanvas{
    border-radius: 8px;
    border: 1px solid black;
}

.card{
    margin: 15px auto;
    max-width: 800px;
    width: 100%;
}


